.wrapper__profile {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 40px;
}

.wrapper__profile-details {
    width: 100%;
}

.wrapper__profile-details-avatar {
    display: flex;
    margin-bottom: 30px;
}

.wrapper__profile-details-avatar-img {
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px;
}

.wrapper__profile-details-avatar-img-UserOutlined {
    font-size: 50px;
}

.wrapper__profile-details-avatar-btn {
    color: #7D7987;
    margin-top: 10px;
}

.wrapper__profile-details-avatar-info {
    margin-left: 20px;
    width: 100%;
}

.wrapper__profile-detail-info-label {
    color: #7D7987;
    font-size: 16px;
    margin-bottom: 5px;
}

.wrapper__profile-detail-info-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper__profile-detail-info-form-input {
    flex: 1; 
    min-width: 500px; 
    max-width: none;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}

.update-button {
    height: 40px;
    color: #458FF6;
    font-weight: bold;
    font-size: 16px;
}

.date-picker-form {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.logout-btn {
    width: 40%;
    margin-top: 30px;
}

.save-change-btn {
    margin-top: 20px;
}