.wrapper__profile-bookings {
    width: 100%;
}

.wrapper__profile-bookings-card {
    border: 2px solid #f0eeee;
    border-radius: 20px;
    margin-bottom: 30px;
}

.wrapper__profile-bookings-card-note {
    color: #6D6E76;
    margin-top: -5px;
}

.wrapper__profile-bookings-card-date {
    display: flex;
    margin-top: 15px;
}

.wrapper__profile-bookings-card-date-details {
    font-size: 16px;
    margin-right: 30px;
    font-weight: 600;
}

.wrapper__profile-bookings-card-date-details-icon {
    font-size: 20px;
    margin-right: 5px;
}

.wrapper__profile-bookings-card-coach {
    margin-top: 20px;
}

.wrapper__profile-bookings-card-coach-info {
    display: flex;
    justify-content: space-between;
}

.wrapper__profile-bookings-card-coach-info-des {
    display: flex;
}

.wrapper__profile-bookings-card-coach-avatar {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    margin-right: 20px;
}

.wrapper__profile-bookings-card-coach-info-des-name {
    color: #0A52B5;
    margin-bottom: 3px;
}

.wrapper__profile-bookings-card-coach-info-des-email {
    color: #7D7987;
}

.wrapper__profile-bookings-card-coach-info-des-email-icon {
    margin-right: 7px;
}

.wrapper__profile-bookings-card-coach-info-rate-number {
    color: #7D7987;
    margin-top: 3px;
}

.wrapper__profile-bookings-card-btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.wrapper__profile-bookings-card-btn-detail {
    display: block;
    width: 100%;
    font-weight: 600;
}

.cancel-book{
    width: 100%;
    color: #458FF6;
    font-weight: 600    ;
}

.wrapper__profile-bookings-categor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.wrapper__profile-bookings-categor-card {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f0eeee;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper__profile-bookings-categor-card.active {
    background-color: #c2dbff;
    transition: all 0.5s ease;
}

.wrapper__profile-bookings-upgrade-btn {
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 100px;
}

