.wrapper__content-detail {
    border: 2px solid #f0eeee;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 50px;
}

.wrapper__content-detail-des {
    color: #7D7987;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 30px;
}

.wrapper__content-detail-date {
    font-size: 24px;
}

.wrapper__content-detail-saving-title-icon {
    font-size: 20px;
    margin-right: 10px;
}

.wrapper__content-detail-saving-value {
    color: #0A52B5;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.wrapper__content-detail-progress-item-fire {
    font-size: 20px;
    color: #FB7B5C;
}

.wrapper__content-detail-progress-item-money {
    font-size: 20px;
    color: #EAC04C;
}

.wrapper__content-detail-progress-item-badge {
    font-size: 20px;
    color: #C09525;
}

.wrapper__content-detail-progress-item-number {
    font-size: 18px;
    color: #458FF6;
    font-weight: 600;
    margin: 0 10px;
}

.wrapper__content-detail-progress-btn {
    height: 40px;
    margin-top: 30px;
    font-weight: 600;
}

.wrapper__content-detail-reasons {
    font-size: 18px;
    line-height: 1.6;
    color: #7D7987;
    list-style: none;
    margin-top: 10px;
}

.wrapper__content-detail-triggers {
    margin-top: 20px;
}

.wrapper__content-detail-triggers-title {
    font-size: 20px;
    color: #0A52B5;
    margin-bottom: 10px;
}

.wrapper__content-detail-triggers-list {
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.6;
    color: #7D7987;
    list-style: none;
}

