.wrapper__profile-badges-description {
  font-weight: lighter;
}

.wrapper__profile-badges-list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.wrapper__profile-badges-list .ant-card {
  border-radius: 20px;
  transition: all 0.3s ease;
  border: 2px solid #f0eeee;
}


.wrapper__profile-badges-list .ant-card-meta-title {
  font-size: 18px;
  font-weight: 600;
  color: #0A52B5;
  margin-bottom: 8px;
}

.wrapper__profile-badges-list .ant-card-meta-description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.wrapper__profile-badges-list .ant-card-body {
  padding: 20px;
  text-align: center;
}
