.quitlt_logo {
    width: 110px;
    margin-left: 25px;
    padding-top: 20px;
}

.authen-template {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.authen-template__form h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #0A52B5;
}

.custom-label .ant-form-item-label label {
    font-weight: bold;
    font-size: 16px;
}

.authen-template__form .input-box input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-right: 150px;
    margin-top: -5px
}

.authen-template__form .input-box-otp input {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    outline: none;
    margin-top: -5px;
    font-size: 24px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.register-login__btn {
    display: block;
    margin: auto;
    width: 30%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reset {
    width: 40%;
}

.google-login_btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}
.google-login_btn p{
    opacity: 0.4;
}
.google-login_btn .gg {
    font-weight: bold;
}

.register-login__link {
    text-align: center;
    margin-top: 20px;
    color: #458FF6;
    font-size: 16px;
}
.register-login__link p a {
    font-weight: bold;
    margin-left: 5px;
}

.google-logo {
    width: 23px;
    height: 23px;
    margin-right: 3px;
    vertical-align: middle;
}

.description {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    width: 100%;
}
