.wrapper__community-posts-modal {
    min-width: 600px;
}

.wrapper__community-posts-create {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0A52B5;
}

.wrapper__community-posts-create-input { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.wrapper__community-posts-create-category {
    max-width: 50%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
}

.wrapper__community-posts-create-textarea {
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
}

.wrapper__community-posts-create-label {
    font-weight: 600;
    margin-bottom: 5px;
}

.new-post-btn {
    height: 40px;
    color: #458FF6;
    font-weight: 600;
    margin-bottom: 30px;
}

.wrapper__post-container-related {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #0A52B5;
    font-size: 16px;
}

.wrapper__community-posts-card-content p {
    white-space: pre-wrap; /* Preserve line breaks */
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit to 3 lines for preview */
    line-clamp: 3;
}