.wrapper__title p {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
    color: #458FF6;
    font-size: 35px;
    font-weight: 600;
}

.wrapper__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1064px;
    margin: 0 auto; /* center the cards */
}

.wrapper__card-card {
    margin: 20px 0;
    border: 2px solid #f0eeee;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.wrapper__card-img {
    width: 110px;
    height: 100px;
    margin-bottom: 10px;
}

.wrapper__card-des {
    padding-top: 10px;
    color: #7D7987;
}