.wrapper__title p {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
    color: #458FF6;
    font-size: 35px;
    font-weight: 600;
}

.wrapper__title1 p {
    margin: 50px 0 20px 0;
    color: #458FF6;
    font-size: 35px;
    font-weight: 600;
}

.wrapper__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1064px;
    margin: 0 auto; /* center the cards */
}

.wrapper__card-card {
    margin: 20px 0;
    border: 2px solid #f0eeee;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.wrapper__card-img {
    width: 110px;
    height: 100px;
    margin-bottom: 10px;
}

.wrapper__card-des {
    padding-top: 10px;
    color: #7D7987;
    font-weight: lighter;
}


.wrapper__card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.wrapper__card-user-img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.wrapper__card-user-name {
    color: #0A52B5;
}

.wrapper__card-user-role {
    color: #7D7987;
    font-size: 14px;
}

.wrapper__card-coumminity {
    margin: 20px 0;
    border: 2px solid #f0eeee;
    width: 300px;
    height: 480px;
    border-radius: 20px;
}

.wrapper__card-community-img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.wrapper__card-post-type {
    color: #458FF6;
    margin-bottom: 5px;
    font-weight: 600;
}

.wrapper__card-post-des {
    color: #7D7987;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin-top: 10px;
}

.custom-divider {
    width: 40%;
    height: 0.5px;
    background-color: #D6D1D1;
    margin: 40px auto;
    border: none;
}

.divider {
    border-color: #D6D1D1;
    margin: 40px 0;
}

.wrapper__btn {
    display: block;
    margin: auto;
    width: 15%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
}

.wrapper__view-more {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}

.wrapper__view-more-btn {
    height: 40px;
    font-size: 16px;
}