.progress {
    background-color: #f0eeee;
    width: 100%;
    padding: 50px 100px;
}

.progress__content {
  margin: auto;
  max-width: 1500px;
}

.progress__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.progress__content-inner-title {
  color: #0A52B5;
  font-size: 18px;
  margin-bottom: 20px;
}

.progress__content-inner-circle{
  width: 12rem;
  height: 12rem;
  background-color: #71ACFF;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.progress__content-inner-circle-day-num {
  color: white;
  font-size: 60px;
  margin-right: 7px;
}

.progress__content-inner-circle-day-text {
  color: white;
  margin-top: 0.5rem;
  letter-spacing: 0.1em;
  font-size: 20px;
  margin-left: 1px;
}

.progress__content-cards {
  display: flex;
  gap: 30px;
  width: 100%;
}

.progress__content-card {
  border: 2px solid #f0eeee;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.progress__content-card:first-child {
  flex: 0 0 35%;
}

.progress__content-card:last-child {
  flex: 0 0 65%;
}

.progress__content-card-title {
  color: #0A52B5;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

.progress__content-card-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.progress__content-card-item {
  flex: 1;
  padding: 25px;
  border-radius: 15px;
  background-color: #f5f8fa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 140px;
}

.progress__content-card-item-fire {
  font-size: 24px;
  color: #FB7B5C;
}

.progress__content-card-item-money {
  font-size: 24px;
  color: #EAC04C;
}

.progress__content-card-item-number {
  font-size: 22px;
  color: #458FF6;
  font-weight: 600;
}

.progress__content-card-item-text {
  font-size: 16px;
  color: #7D7987;
}

.progress__content-health-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.progress__content-health-row {
  display: flex;
  gap: 20px;
  flex: 1;
}

.progress__content-health-item {
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  background-color: #f5f8fa;
  height: 140px;
  display: flex;
  flex-direction: column;
}

.progress__content-health-item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.progress__content-health-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.progress__content-health-title {
  font-size: 16px;
  color: #7D7987;
  font-weight: 600;
  margin: 0;
}

.progress__content-health-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-grow: 1;
}

.progress__content-health-value h2 {
  color: #458FF6;
  font-size: 24px;
  margin: 0;
}

.progress__content-health-value h3 {
  font-size: 14px;
  font-weight: lighter;
  color: #7D7987;
  margin: 0;
  margin-top: 5px;
}

.progress__content-health-icon-blood {
  font-size: 24px;
  color: #ef4444;
}

.progress__content-health-icon-heart {
  font-size: 24px;
  color: #22C55E;
}

.progress__content-health-icon-oxy {
  font-size: 24px;
  color: #A855F7;
}

.progress__content-health-icon-co {
  font-size: 24px;
  color: #F97316;
}

.progress__content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.progress__content-button-view {
  border-radius: 100px;
  height: 40px;
  min-width: 18%;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}