.header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f0eeee;
    background-color: #ffff;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__inner-logo {
    width: 100px;
    margin-right: 50px;
}

.header__inner-logo:hover {
    cursor: pointer;
}

.header__nav a{
    text-decoration: none;
    font-size: 17px;
    margin-right: 30px;
    color: #adacac;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.header__nav a:hover {
    opacity: 0.6;
}

.header__login-register {
    display: flex;
    align-items: center;
}

.header__login-register .login-btn {
    margin-right: 10px;
}

.header__login-register .search {
    font-size: larger;
    margin-right: 20px;
    color: #adacac;
}

.noti {
    font-size: larger;
    margin-right: 20px;
    color: #adacac;
}

.header__nav a.active {
    font-weight: bold;
    color: #000;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
}

.user-avatar {
    cursor: pointer;
}

